<h2 class="ui grey header">
  <div class="content">
    Do you know your movies?
  </div>
</h2>
<form class="ui form">
  <div class="field">
    <input type="text" name="movie-name" placeholder="Enter A Movie Name" #movieName>
  </div>
  <button class="ui button primary" (click)="getMovieDetails(movieName.value)" type="submit">Search</button>
</form>
<div *ngIf = "movieData" class="ui raised segment">
  <h3 *ngIf= "movieData">Movie: {{movieData.Title}}</h3>
  <img *ngIf = "movieData" src="{{movieData.Poster}} [style.height.px] = 'imageHeight'">
  <h3 *ngIf = "movieData" style="align-content: inherit">Description: {{movieData.Plot}}</h3>
  <h3 *ngIf = "movieData" style="align-content: center">Genre: {{movieData.Genre}}</h3>
  <h3 *ngIf = "movieData" style="text-align: center">Ratings: {{movieData.Ratings[0].Source}}: {{movieData.Ratings[0].Value}}</h3>
  <h3 *ngIf = "movieData" style="text-align: center">Ratings: {{movieData.Ratings[1].Source}}: {{movieData.Ratings[1].Value}}</h3>
</div>